// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background: #f5f5f6;
  /*background-color: #3e3e3e;*/
  /*background-color: #f6f6f7;*/
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

.inner-wrapper {
  padding-bottom: 15rem;
}

.article {
  font-family: 'Cambria', 'Georgia', Serif;
  font-size: 1.25rem;
  color: #222635;
}

.article-title {
  clear: both;
}

.article-title h1 {
  font-size: 2.50rem;
  font-weight: 600;
}

.content {
  background: #fff;
}

.subhead h4 {
  color: #545f68;
}

.card-category-title {
  padding-top: 5px;
  color: #10abcc;
  font-weight: 600;
  font-size: 1.0rem;
  margin: 0 !important;
}

.card-date-title {
  font-size: 1.0rem;
}

.card-main-title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #575757;
  margin: 0 !important;
  line-height: normal;
  text-decoration: none !important;
}

.main-post p {
  color: #727171;
  font-weight: 600;
}

.card-hr {
  background-color: #10abcc;
  height: 2px;
}


.main-image {
  background-image: url('~/images/russia.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*max-width: calc(100vw);*/
  height: 60vh;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-image:hover {
  opacity: 0.9;
}

.main-top {
  color: #e7eff3;
  margin-top: 18rem;

}

.sutun {
  /*overflow: hidden !important;*/
}

.sutun:hover {
  // filter: drop-shadow(0 0 0.7rem rgb(140, 107, 184));
  filter: drop-shadow(0 0 0.7rem rgb(203, 180, 230));
}

.main-post {
  background-color: #fff;
  transition: transform .2s ease;
  outline: 3px solid #f5f5f6;
  /*background-color: #252525;*/
  /*background-color: #3e3e3e;*/
  /*border: 1px solid #efeff0;*/
  /*border: 7px solid #f5f5f6;*/

}

.main-post:hover {
  background: #f5f5f6;
  cursor: pointer;
  transform: scale(1.07);
  outline: 6px solid rgb(255, 255, 255);
  // -webkit-transition: background-color 300ms ease-out;
  // -moz-transition: background-color 300ms ease-out;
  // -o-transition: background-color 300ms ease-out;
  // transition: background-color 300ms ease-out;  
  /*box-shadow: 3px 3px lavender, 3px 3px lavender;*/
  /*background-color: royalblue;*/
  /*padding: 0 !important;*/
  /*border-radius: 2rem;*/
}

.poster {
  /*border: 2px solid rgb(231, 225, 225);*/
  /*border: 2px solid lavender;
  border-radius: 10px;*/
  border: 4px solid #f5f5f6;
  background-color: #ffffff;
  margin-bottom: 5px;
  transition: transform .2s ease;
}

.poster img {
  /* border-radius: 10px 0 0 10px;*/
  min-height: 105px;
}

.poster:hover {
  /*background: rgb(223, 243, 255);*/
  cursor: pointer;
  // -webkit-transition: background-color 300ms ease-in-out;
  // -moz-transition: background-color 300ms ease-in-out;
  // -o-transition: background-color 300ms ease-in-out;
  // transition: background-color 300ms ease-out;
  /* box-shadow: 3px 3px lavender, 3px 3px lavender; */
  filter: drop-shadow(0 0 0.7rem rgb(27, 94, 161));
  transform: scale(1.05);
  /* padding: 0 !important;*/
}

.sidebar {
  background-color: rgb(255, 255, 255);
  height: 100%;
}



.footer {
  position: absolute;
  width: 100%;
  background-color: #322348;
  /*background-color: #1e1e1e;*/
  height: 15rem;
  bottom: 0;
}